@using WEB.Models.ViewModels
@model SuperintendenteEstadualVm

@{
    var title = ViewBag.Title;
    var regiao = ViewBag.Regiao;
}

<form asp-action="AlterarSuperintendenteEstadual" enctype="multipart/form-data">
    <div id="modalAdicionar" data-bs-backdrop="static" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- HEADER -->
                <div class="modal-header" style="background-color: #628dbc;">
                    <h5 class="modal-title text-white">@title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- BODY -->
                <div class="modal-body">

                    <input type="hidden" asp-for="SuperintendenteEstadualId" />
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <label asp-for="Foto"></label><span class="text-danger"> *</span>
                            <input asp-for="Foto" type="file" class="form-control" accept="image/*" />
                            <span asp-validation-for="Foto" class="text-danger"></span>
                        </div>

                        @if (!string.IsNullOrEmpty(Model?.FotoUrl))
                        {
                            <div class="col-md-6 d-flex align-items-end">
                                <img src="@Model.FotoUrl" alt="Foto" class="border rounded" style="width:130px;" />
                            </div>
                        }
                    </div>

                    <div class="mb-3">
                        <label asp-for="Nome"></label><span class="text-danger"> *</span>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>                

                    <div class="form-check mt-2">
                        <input asp-for="Ativo" class="form-check-input" type="checkbox">
                        <label asp-for="Ativo" class="form-check-label"></label>
                    </div>
                </div>

                <!-- FOOTER -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>

            </div>
        </div>
    </div>
</form>