@using WEB.Models.ViewModels
@model SuperintendenteRegionalVm
@{
    var title = ViewBag.Title;
}

<form asp-action="Alterar" enctype="multipart/form-data">
    <div id="modalAdicionar" data-bs-backdrop="static" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- HEADER -->
                <div class="modal-header" style="background-color: #628dbc;">
                    <h5 class="modal-title text-white">@title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- BODY -->
                <div class="modal-body">

                    <input type="hidden" asp-for="SuperintendenteRegionalId" />

                    <div class="mb-3">
                        <label asp-for="Nome"></label><span class="text-danger"> *</span>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>

                    <div class="form-check mt-2">
                        <input asp-for="Ativo" class="form-check-input" type="checkbox">
                        <label asp-for="Ativo" class="form-check-label"></label>
                    </div>
                </div>

                <!-- FOOTER -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>

            </div>
        </div>
    </div>
</form>