@using WEB.Models.Enuns
@model UsuarioVm

@{
    Layout = "_LayoutLogin";

    var superintendentesRegionais = ViewBag.SuperintendentesRegionais;
}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">

            <div class="card shadow">
                <div class="card-body">

                    <h3 class="text-center mb-4">Cadastro</h3>

                    <form asp-action="Registrar" method="post" enctype="multipart/form-data">

                        <!-- FOTO -->
                        <div class="text-center mb-4">
                            <img id="previewImagem" src="https://via.placeholder.com/150"
                                 class="rounded-circle border"
                                 style="width:150px;height:150px;object-fit:cover;" />

                            <input asp-for="Foto" type="file" class="form-control mt-2"
                                   accept="image/*" onchange="previewFile(this)" />
                        </div>

                        <!-- DADOS -->
                        <h5>Dados Pessoais</h5>

                        <input asp-for="Membro.NomeCompleto" class="form-control mb-2" placeholder="Nome" required />
                        <input asp-for="Email" class="form-control mb-2" placeholder="Email" required />

                        <div class="row">
                            <div class="col-md-6">
                                <input asp-for="Senha" type="password" class="form-control mb-2" placeholder="Senha" required />
                            </div>
                            <div class="col-md-6">
                                <input asp-for="ConfirmarSenha" type="password" class="form-control mb-2" placeholder="Confirmar Senha" required />
                            </div>
                             <div class="col-md-4">
                                <input asp-for="Membro.Contato" id="Contato" class="form-control mb-3" data-mask="(00) 00000-0000" placeholder="Contato" required />
                            </div>
                            <div class="col-md-4">                              
                                <select asp-for="Genero" asp-items="Html.GetEnumSelectList<Genero>()" class="form-control select2" placeholder="Gênero" required>
                                    <option value="">Selecione Gênero</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <select asp-for="EstadoCivil" asp-items="Html.GetEnumSelectList<EstadoCivil>()" class="form-control select2" placeholder="Estado Civil" required>
                                    <option value="">Selecione Estado Civil </option>
                                </select>
                            </div>
                        </div>

                        <hr />

                        <!-- LOCALIZAÇÃO -->
                        <h5>Localização</h5>

                        <div class="row">
                            <div class="col-md-6">
                                <select asp-for="Membro.Estado" id="Estado" asp-items="ViewBag.Estados"
                                        class="form-control select2 mb-2" required></select>
                            </div>

                            <div class="col-md-6">
                                <select asp-for="Membro.Cidade" id="Cidade"
                                        class="form-control select2 mb-2" required></select>
                            </div>
                        </div>

                        <hr />

                        <!-- HIERARQUIA -->
                        <h5>Vínculo Ministerial</h5>

                        <!-- SUPERINTENDENTE -->
                        <select asp-for="Membro.SuperintendenteRegionalId" id="SuperintendenteRegionalId"  class="form-select mb-2" required>
                            <option value="">Selecione Superintendente</option>
                            @foreach (var item in superintendentesRegionais)
                            {
                                <option value="@item.SuperintendenteRegionalId">@item.Nome</option>
                            }
                        </select>

                        <!-- REGIÃO -->
                        <select asp-for="Membro.RegiaoId"
                                id="RegiaoId"
                                class="form-select mb-2"
                                disabled></select>

                        <!-- IGREJA -->
                        <select asp-for="Membro.IgrejaId"
                                id="IgrejaId"
                                class="form-select mb-2"
                                disabled></select>

                        <!-- PASTOR -->
                        <select asp-for="Membro.PastorId"
                                id="PastorId"
                                class="form-select mb-2"
                                disabled></select>

                        <hr />

                        <!-- DATAS -->
                        <h5>Datas</h5>

                        <div class="row">
                            <div class="col-md-4">
                                <input asp-for="Membro.DataNascimento" type="date" class="form-control mb-2" required/>
                            </div>
                            <div class="col-md-4">
                                <input asp-for="Membro.DataMinisterio" type="date" class="form-control mb-2" required />
                            </div>
                            <div class="col-md-4">
                                <input asp-for="Membro.DataBatismo" type="date" class="form-control mb-2" />
                            </div>
                        </div>

                        <button type="submit" class="btn btn-success w-100 mt-3">
                            Cadastrar
                        </button>

                    </form>

                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/usuario.js"></script>

    <script>
        function previewFile(input) {
            var file = input.files[0];
            var reader = new FileReader();

            reader.onloadend = function () {
                document.getElementById('previewImagem').src = reader.result;
            }

            if (file) reader.readAsDataURL(file);
        }
    </script>
}