@using WEB.Models.Enuns
@using System.Security.Claims

@{
    var roleClaim = User.FindFirst(ClaimTypes.Role)?.Value;

    string roleDisplay = "";

    if (!string.IsNullOrEmpty(roleClaim) &&
        Enum.TryParse<Role>(roleClaim, out var roleEnum))
    {
        roleDisplay = roleEnum.GetDisplayName();
    }
}

<nav class="navbar navbar-expand-lg navbar-dark ieq-navbar shadow">
    <div class="container-fluid">

        <!-- Logo -->
        <a class="navbar-brand fw-bold" asp-controller="Home" asp-action="Index">
            <img src="~/images/home/logo_ieq.png" class="nav-logo" alt="IEQ">
            IEQ
        </a>

        <!-- Botão Mobile -->
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarIEQ">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarIEQ">

            @if (User.Identity!.IsAuthenticated)
            {
                <!-- MENU ESQUERDA -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item"><a class="nav-link nav-link-ieq" asp-controller="Home" asp-action="Index">Home</a></li>

                    <!-- Dados da Igreja -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle nav-link-ieq" data-bs-toggle="dropdown">Dados da Igreja</a>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-controller="Igreja" asp-action="Index">Igrejas</a></li>
                            <li><a class="dropdown-item" asp-controller="SuperintendenteRegional" asp-action="Index">Superintendente Regional</a></li>
                            <li><a class="dropdown-item" asp-controller="Regiao" asp-action="Index">Região</a></li>
                            <li><a class="dropdown-item" asp-controller="Pastores" asp-action="Index">Pastores</a></li>
                            <li><a class="dropdown-item" asp-controller="Lideranca" asp-action="Index">Liderança</a></li>
                        </ul>
                    </li>

                    <!-- Ministérios -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle nav-link-ieq" data-bs-toggle="dropdown">Ministérios</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-controller="Diaconato" asp-action="Index">Diaconato</a></li>
                            <li><a class="dropdown-item" asp-controller="Louvor" asp-action="Index">Louvor</a></li>
                            <li><a class="dropdown-item" asp-controller="Danca" asp-action="Index">Dança</a></li>
                            <li><a class="dropdown-item" asp-controller="JovemAdolecente" asp-action="Index">Jovens/Adolescentes</a></li>
                            <li><a class="dropdown-item" asp-controller="Homens" asp-action="Index">Homens</a></li>
                            <li><a class="dropdown-item" asp-controller="Mulheres" asp-action="Index">Mulheres</a></li>
                            <li><a class="dropdown-item" asp-controller="Midia" asp-action="Index">Mídia</a></li>
                            <li><a class="dropdown-item" asp-controller="Crianca" asp-action="Index">Criança</a></li>
                            <li><a class="dropdown-item" asp-controller="Teatro" asp-action="Index">Teatro</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link nav-link-ieq" asp-controller="Usuario" asp-action="Index">Usuário</a></li>
                </ul>
            }

            <!-- MENU DIREITA -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                @if (User.Identity!.IsAuthenticated)
                {                   
                    <li class="nav-item dropdown">
                        <a class="nav-link nav-link-ieq dropdown-toggle"
                           data-bs-toggle="dropdown">
                            👤 @User.Identity.Name
                            <br />
                            <small>@roleDisplay</small>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item"
                                   asp-controller="Usuario"
                                   asp-action="Logout">
                                    <i class="fa-solid fa-right-from-bracket text-danger"></i>
                                    Sair
                                </a>
                            </li>
                        </ul>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link nav-link-ieq"
                           asp-controller="Usuario"
                           asp-action="Login">
                            🔐 Login
                        </a>
                    </li>
                }

            </ul>

        </div>
    </div>
</nav>