@using WEB.Models.ViewModels
@model IgrejaVm

@{
    var title = ViewBag.Title;
    var regiao = ViewBag.Regiao;
}

<form asp-action="AlterarIgreja" enctype="multipart/form-data">
    <div id="modalAdicionar" data-bs-backdrop="static" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- HEADER -->
                <div class="modal-header" style="background-color: #628dbc;">
                    <h5 class="modal-title text-white">@title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- BODY -->
                <div class="modal-body">

                    <input type="hidden" asp-for="IgrejaId" />


                    <div class="mb-3">
                        <label asp-for="Nome"></label><span class="text-danger"> *</span>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="Endereco"></label><span class="text-danger"> *</span>
                        <input asp-for="Endereco" class="form-control" />
                        <span asp-validation-for="Endereco" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label>Região</label>
                        <select asp-for="RegiaoId" class="input-custom form-select form-control select2bs4 p-2">
                            <option value="" disabled selected>Selecione</option>
                            @foreach (var item in regiao)
                            {
                                <option value="@item.RegiaoId">@item.Nome</option>
                            }
                        </select>
                    </div>

                </div>

                <!-- FOOTER -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>

            </div>
        </div>
    </div>
</form>