@using WEB.Models.ViewModels
@model IgrejaVm

@{
    var title = ViewBag.Title;

}

<form asp-action="AlterarDiaconato" enctype="multipart/form-data">
    <div id="modalAdicionar" data-bs-backdrop="static" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- HEADER -->
                <div class="modal-header" style="background-color: #628dbc;">
                    <h5 class="modal-title text-white">@title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- BODY -->
                <div class="modal-body">

                    <input type="hidden" asp-for="IgrejaId" />                 

@* 
                    <div class="mb-3">
                        <label asp-for="NomeCompleto"></label><span class="text-danger"> *</span>
                        <input asp-for="NomeCompleto" class="form-control" />
                        <span asp-validation-for="NomeCompleto" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label asp-for="Cargo"></label><span class="text-danger"> *</span>
                            <input asp-for="Cargo" class="form-control" />
                        </div>
                        <div class="col-md-6 mb-3">
                            <label asp-for="Contato"></label><span class="text-danger"> *</span>
                            <input asp-for="Contato" id="Contato" data-mask="(00) 00000-0000" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label asp-for="Estado"></label><span class="text-danger"> *</span>
                            <input asp-for="Estado" class="form-control" />
                        </div>
                        <div class="col-md-6 mb-3">
                            <label asp-for="Cidade"></label><span class="text-danger"> *</span>
                            <input asp-for="Cidade" class="form-control" />
                        </div>
                    </div> *@
                  
                </div>

                <!-- FOOTER -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>

            </div>
        </div>
    </div>
</form>